table {
  border-radius: 5px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  margin-top: 1.4rem;
}
.table{
  border: 1px solid #eceaea;
  overflow-x:auto
}

.table th{
  font-size: 1rem;
  text-align: center;
  padding: 5px;
}

.table td{
font-size: 16px;
border-bottom: 1px solid var( --container-color);
text-align: center;
padding: 5px;
text-wrap: wrap;
}