.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  background-color: #111;
  padding-top: 20px;
}

.sidebar a {
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  background-color: #555;
}

.contentee {
  margin-left: 200px;
  padding: 16px;
} 


.button-secondary{
  background-color:#C4D8CF;

}